
<!-- <app-about></app-about> -->
<!-- <app-contact></app-contact>
<app-home></app-home>
<app-service></app-service>
<app-vaccination></app-vaccination> -->



<div class="main conatiner">
    <div class="conatiner1">
        <header>
            <nav>
                <ul class="nev nav tabs">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/contact">Contact</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/vaccination">Vaccination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/Signup">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="container2 b">
        <div class="image1">
            <img src="assets\UIED.png" alt="Logo" width="150px" height="100px" />
        </div>

        <div class="namebar">
            <h1>Aadhaar Card</h1>
        </div>

        <div class="image2">
            <img src="assets\ww.png" alt="Logo" width="150px" height="100px" />
        </div>
    </div>
<div class="container3">
    <router-outlet></router-outlet>
</div>
</div>


<div class="container4 b">
    <div class="information">
        <br />
        <br />
        <p>
            <b>Usage of Aadhaar</b>
        </p>

        <div class="para1">
            Government of India funds a number of social welfare schemes focused
            towards the poor and most vulnerable sections of society. Aadhaar and
            its platform offer a unique opportunity to the government to streamline
            their welfare delivery mechanism and thereby ensuring transparency and
            good governance.
        </div>

        <b>For Governments, Service Agencies</b>
        <br />
        <div class="para2">
            The UIDAI issues Aadhaar number to residents only after de-duplicating
            their demographic and biometric attributes against its entire database.
            Aadhaar authentication enables elimination of duplicates under various
            schemes and is expected to generate substantial savings to the
            government exchequer. It also provides the government with accurate data
            on beneficiaries, enables direct benefit programs, and allows the
            government departments/service providers to coordinate and optimize
            various schemes. Aadhaar will enable implementing agencies to verify
            beneficiaries and ensure targeted delivery of benefits.<b>
                All these activities will lead to:</b>
        </div>

        <b>Curbing Leakages through Targeted Delivery:</b>
        <div class="para3">
            Welfare programs where beneficiaries are required to be confirmed before
            the service delivery, stand to benefit from UIDAI’s authentication
            services. This will result in curbing leakages and ensuring that
            services are delivered to the intended beneficiaries only. Examples
            include subsidized food and kerosene delivery to Public Distribution
            System (PDS) beneficiaries, worksite attendance of Mahatma Gandhi
            National Rural Employment Guarantee Scheme (MGNREGS) beneficiaries, etc.
        </div>

        <br />
        <b>Improving Efficiency and Efficacy:</b>
        <div class="para4">
            With the Aadhaar platform providing accurate and transparent information
            about the service delivery mechanism, government can improve
            disbursement systems and utilize scarce development funds more
            effectively and efficiently including better human resource utilisation
            involved in the service delivery network.
        </div>

        <br /><b>For Residents</b>
        <div class="para5">
            Aadhaar system provides single source offline/online identity
            verification across the country for the residents. Once residents enrol,
            they can use the Aadhaar number to authenticate and establish their
            identity multiple times using electronic means or through offline
            verification, as the case may be. It eliminates the hassle of repeatedly
            providing supporting identity documents each time a resident wishes to
            access services, benefits and subsidies. By providing a portable proof
            of identity that can be verified through Aadhaar authentication on-line
            anytime, anywhere, the Aadhaar system enables mobility to millions of
            people who migrate from one part of the country to another.
        </div>
    </div>
</div>