
    <div class="col-auto">
        <label for="AN"><b>Aadhaar Number : </b></label>
        <input type="number" placeholder="Enter Aadhaar Number " name="AN" formControlName="aadharnumber" required
            maxlength="12" />
    </div>

   <div class="col-auto"><br>
       <label for="Pn"><b>Password : </b></label>
     <input type="password" placeholder="Enter Password " name="Pn" formControlName="password" />
    </div>
    <div class="col-auto"><br>
        <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
