<h4>Aadhaar is</h4>
    <p>A 12-digit unique identity for every Indian individual, including children and infants
    Enables identification for every resident Indian
    Establishes uniqueness of every individual on the basis of demographic and biometric information
    It is a voluntary service that every resident can avail irrespective of present documentation
    Each individual will be given a single unique Aadhaar ID number
    Aadhaar will provide a universal identity infrastructure which can be used by any identity-based application (like ration card, passport, etc.)
    UIDAI will give Yes/No answers to any identity authentication queries.</p>